<h1>Stem Cell</h1>
<a id="blood" onclick="myfunc(1)" >造血幹細胞</a>
<a id="blood" onclick="myfunc(2)" >間葉系幹細胞</a>
<a id="blood" onclick="myfunc(3)" >肝幹細胞</a>
<a id="blood" onclick="myfunc(4)" >膵幹細胞</a>
<div id="result"></div>
