#stem-cell {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  a {
    margin: 5px;
    padding: 15px;
    border: solid 2px #b71466;
    border-radius: 10px;
    display: inline-block;
  }
  .result-container {
    padding-top: 10px;
  }
}